.App {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Landing*/
.writeout {
  height: 600px;
  width: 1000px;
  /* position: absolute; */
  background-image: url("./assets/black.JPG");
  background-size: cover;
  max-width: 90%;
  border: dashed;
  border-color: white;
  /* for when fades back to this version on state update */
  transition: 10s ease-in-out;
  transform-origin: center;
}

.emptywriteout {
  height: 600px;
  width: 1000px;
  background-image: url("./assets/purple_flowers.jpg");
  background-size: cover;
  max-width: 90%;
  border: dashed;
  border-color: white;
  transition: 10s ease-in-out;
  transform-origin: center;
}

.writeout_btn {
  background-color: rgb(237, 168, 58);
  font-size: 1.5rem;
  color: black;
  text-shadow: 1px 1px rgb(219, 57, 3);
  border-color:rgb(219, 57, 3);
  border-radius: 30px;
  padding: 5px 60px;
}

.writeout_btn:hover {
  background-color:rgb(255, 221, 165)
}